/* Static Line Styling */
.bg-line {
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.4) 50%,
		rgba(255, 255, 255, 0) 100%
	);
	background-size: 200% 200%;
}

/* Animation for the flowing effect */
@keyframes line-flow {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 0% 100%;
	}
}

.animate-line-flow {
	animation: line-flow 5s linear infinite;
}

/* Wrapper for Hover Effect */
.card-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	perspective: 1000px; /* Enables 3D perspective */
}

/* Container with Rotation Effect */
.card-container {
	position: relative;
	width: 100%;
	height: 370px;
	display: flex;
	/* Let Tailwind handle responsive padding, 
     but you can still use a base padding here if you want: */
	padding: 4rem;
	border-radius: 3rem;
	background-color: #ffc303;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transform-style: preserve-3d; /* Enables 3D transformations */
	transition: transform 1s ease-in-out; /* Smooth rotation transition */
}

/* Rotate Entire Card on Parent Hover */
.card-wrapper:hover .card-container {
	transform: rotateY(180deg); /* Rotate the card */
}

/* Front and Back Sides */
.card-side {
	position: absolute;
	inset: 0;
	display: flex;
	/* height: fit-content; */
	/* padding: 20px 0px; */
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 3rem;
	backface-visibility: hidden; /* Hide the backface when rotated */
}

/* Front Design */
.card-front {
	background-color: #e5e7eb;
}

/* Back Design */
.card-back {
	background-color: #ffc303;
	transform: rotateY(180deg); /* Initial rotation for back side */
}

/* Icon Style */
.icon-style {
	font-size: 3.5rem;
	font-weight: bold;
	color: #181818;
	margin-bottom: 1rem;
}

/* Front Text */
.front-text {
	font-size: 1.5rem;
	font-weight: bold;
	color: #1f2937;
	text-align: center;
	padding: 0 1rem;
}

/* Back Heading */
.back-heading {
	font-size: 1.25rem;
	font-weight: 600;
	color: #181818;
	margin-bottom: 1rem;
	text-align: center;
}

/* Back Text */
.back-text {
	font-size: 1rem;
	font-weight: 500;
	color: #1f2937;
	text-align: center;
	padding: 0 1rem;
}
